/* 
 *	treequel Manual Stylesheet
 *	Authors:
 *  - Michael Granger <ged@FaerieMUD.org>
 */

@import url(baseline.compress.css);

#page {
	margin: 0 auto;
}

#page > header {
	position: relative;
	background-color: #81a7d2;
	background: -webkit-gradient(radial, 
		20% 0, 0, 
		20% 0, 800, 
		color-stop(0.0,#81a7d2), 
		color-stop(1.0,#6187b2));
	background: -moz-radial-gradient(
		20% top, 
		farthest-side, 
		#81a7d2, 
		#6187b2);
	color: #fff;
	padding: 0.4em 1em;
}

#page > header hgroup h1,
#page > header hgroup h2 {
	margin: 4px 0;
	text-shadow: 2px 2px 5px rgba(25,25,25, 0.5);
}

#page > header h1 {
	font-size: 90px;
	text-shadow: 1px 1px 2px rgba( 25,25,25, 0.5 );
}
#page > header h2.tagline {
	font-size: 2em;
	text-shadow: 1px 1px 2px rgba( 25,25,25, 0.5 );
	letter-spacing: 0.15em;
}

header a {
	color: inherit;
	text-decoration: inherit;
}

#page > header nav {
	position: absolute;
	top: 4px;	
	right: 1em;
}

footer {
	clear: both;
}



