/* @override 
	http://localhost:9393/css/master.css
*/

/*
 *	Treequel Examples Stylesheet
 *  
 *	Authors:
 *  * Michael Granger <mgranger@laika.com>
 *
 */

/* @group Entity styles */
html {
	font: 14px/1.4em "Helvetica Neue", Verdana, sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	line-height: 1.5em;
	border-left: 2px solid #908558;
	min-height: 100%;
}

body {
	margin: 0;
	min-width: 620px;
	background: #eee;
}

h1,h2,h3,h4,h5,h6 {
	margin-top: 1em;
	margin-bottom: 0;
	color: #333;
	font-weight: bold;
}

h1 {
	font-family: "Helvetica Neue UltraLight", sans-serif;
	font-size: 340%;
	text-shadow: 1px 1px 2px #666;
	padding-bottom: 0.25em;
	border-bottom: 1px solid;
	margin-top: 0;
}

h2 {
	font-family: "Helvetica Neue Condensed Bold", Verdana, sans-serif;
	font-size: 180%;
}

h3 {
	font-size: 120%;
	border-left: 1em solid;
	padding-left: 0.5em;
}

h4 {
	font-size: 110%;
}

h5 {
	font-variant: small-caps;
}

h6 {
	font-style: italic;
}

input, textarea, button, select {
	font: 12px/1.2em "Helvetica Neue Condensed Bold", Verdana, sans-serif;
	padding: 1px;
	border: 1px solid #CDCABD;
	background: #E5E1D2;
	color: #3a3a2b;
}
textarea {
	width: 100%;
}
textarea.code {
	font: 12px/1.2em "Vera Sans Mono", monospace;
}

input:focus, textarea:focus, select:focus, button:focus {
	background: #AED5E3;
	border: 1px solid #6894B4;
}

input[type=submit], input[type=reset], button {
	cursor: pointer;
}

input[type=submit]:hover, input[type=reset]:hover, button:hover {
	
}

button {
	font-size: 1.1em;
	padding: 0.2em 1em;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-color: #918474;
	-webkit-box-shadow: 1px 1px 2px rgba(35,35,35,0.4);
	-moz-box-shadow: 1px 1px 2px #333;
}

form {
	margin: 0 auto;
	background: #FAF8F1;
	border: none;
	padding: 0.4em 1em;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-box-shadow: 1px 1px 5px rgba(55,55,55,0.4);
	-moz-box-shadow: 1px 1px 5px 2px #999;
}

fieldset {
	margin: 0.2em auto;
	border: none;
}

legend {
	font-weight: bold;
	color: #616253;
	font-size: 140%;
}

fieldset.nodisplay {
	border: 0;
	margin: 0;
	background: inherit;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}

fieldset.nodisplay legend {
	display: none;
}

a {
	color: #3f6217;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 1px dotted;
}

th a {
	color: inherit;
}

a:visited {
	color: #3a3a2b;
}

a:hover {
	border-bottom: 1px solid;
}

a:hover img {
	border: 0;
}

ul {
	padding-left: 25px;
}

ul li {
	padding-left: 0;
	margin-left: 0;
}

img {
	border: 0;
}

table caption {
	margin: 15px 5px 0;
	font-size: 10px;
	padding: 5px 0 2px;
}

 
.albumInfo {
        height: 8em;
        padding: 1em;
        border-top: 1px solid #858585;
        border-bottom: 1px solid #505050;
}
 
.albumInfo h1 {
        font-weight: bold;
        text-shadow: 0px -1px 1px black;
        font-size: 1.2em;
}
 
ul.tracks {
        background: -webkit-gradient(radial, 50% -70, 0, 50% 0, 200, from(#595959), to(#0d0d0d)) #0d0d0d;
        width: 25.7em;
}
 
ul.tracks li.odd {
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,.05)), to(rgba(255,255,255,.05)));
}
 

table {
	border-collapse: collapse;
	margin: 1em 0;
	-webkit-box-shadow: 1px 1px 5px rgba(25,25,25,0.7);
	-moz-box-shadow: 1px 1px 5px #333;
	background-image: -webkit-gradient(radial, 50% -70, 0, 50% 0, 200, from(#595959), to(#0d0d0d)) #0d0d0d;
}
table thead,
table tbody {
	border: 1px solid #c1c1c1;
}
table th {
	vertical-align: bottom;
	text-align: center;
}
table.horizontal tbody th {
	vertical-align: top;
	text-align: right;
}
table td {
	padding: 2px 0.5em;
	vertical-align: top;
}
table td.numeric {
	text-align: right;
}
table td.icon {
	vertical-align: top;
	text-align: center;
}
table td.icon img {
	margin: 0 auto;
}

table th {
	padding: 1px 0.5em;
}
table th.odd {
	background-color: #f6f6f6;
}
table th.even {
	background-color: #e5e5e5;
}

table tr.odd {
	background-color: #f6ecbf;
}
table tr.odd td.even {
	background-color: #e6ddb2;
}
table tr.even {
	background-color: #decda8;
}
table tr.even td.even {
	background-color: #c8b897;
}

dl {
	
}

dt {
	font-weight: bold;
	border-bottom: 1px solid #999;
	color: #3f6217;
}

dt a {
	border: none;
	color: inherit;
}

dd {
	margin: 0;
}

dd + dt {
	margin-top: 1em;
}

p code, li code, dd code {
	color: #333;
	background-color: #e4e0d2;
	border: 1px dotted #acaa92;
}

pre code {
	color: inherit;
	background-color: transparent;
	border: none;
}

/* @end */

/* @group IDed page elements */

#content {
	position: relative;
	z-index: 0;
	padding: 4em;
	min-width: 900px;
}

#homelink {
	position: absolute;
	top: 4em;
	right: 4em;
}

#footer {
	font-size: 0.8em;
	margin: 0;
	padding: 3em 2em 1em;
}

#footer p {
	margin: 0;
}

table#connection-list {
	font-size: 0.9em;
}

#left {
	width: 45%;
	position: absolute;
}

#right {
	margin-left: 55%;
}

#log {
	clear: both;
}

/* @end */


/* @group classed page elements */

.dn, .oid, .uri, .socket {
	padding-left: 18px;
	padding-right: 0.2em;
	background-color: #e8d9b7;
	border: 1px solid #a38e2b;
	-webkit-border-radius: 5px;
}
.dn {
	background: #e8d9b7 url(../images/chain_small.png) no-repeat 2px;
}
.oid {
	background: #e8d9b7 url(../images/card_small.png) no-repeat 2px;
}
.uri {
	background: #e8d9b7 url(../images/globe_small_green.png) no-repeat 2px;
}
.socket {
	padding-left: 22px;
	background: #e8d9b7 url(../images/plug.png) no-repeat 4px;
}

.graph svg {
	background-color: #e6ddb2;
	background-image: -webkit-gradient(radial, 25% 0, 75, 150 100, 350, from(#e6ddb2), to(#c6bd92));
	border: 1px solid #ccc;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	margin: 1em 0;
	-webkit-box-shadow: 1px 1px 5px rgba(25,25,25,0.7);
	-moz-box-shadow: 1px 1px 5px #333;
}

/* @end */
