<h2>Monitor Datapoints</h2>

<p>This server is running: <code><%= server_info %></code>.</p>

<p>Monitor Subsystems</p>

<dl>
<% for subsystem in datapoints.sort_by {|b| b[:cn].first } %>
	<dt><a href="/<%= subsystem[:cn].first.downcase %>"><%= h subsystem[:cn].first %></a></dt>
	<dd><%= h subsystem[:description].join(" ") %></dd>
<% end %>
</dl>


