/* @override 
	http://localhost/Treequel/css/manual.css
	http://gont.ljc.laika.com/Treequel/css/manual.css
*/

/* 
 *	Redleaf Manual Stylesheet
 *	$Id$
 *  
 */

/* Import the code-highlighting styles derived from the 'deveiate' TextMate theme */
@import url(deveiate.css);

/* Uses the "Brazilian Red Cap" Palette from COLOURlovers:
 *   http://www.colourlovers.com/palette/91529/Brazilian_Red_Cap
 * 
 * RGB: 240, 24, 24
 * Hex: #F01818
 * 
 * RGB: 144, 0, 0
 * Hex: #900000
 * 
 * RGB: 243, 243, 243
 * Hex: #F3F3F3
 * 
 * RGB: 72, 72, 96
 * Hex: #484860
 * 
 * RGB: 120, 120, 144
 * Hex: #787890
 * 
 */


/* @group Elements */
html {
	border-left: 5px solid #ca2f1b;
	min-height: 100%;
	min-width: 800px;
}

body {
	margin: 0;
	font: 14px/1.2em "Gill Sans", Helvetica, Tahoma, sans-serif;
	background: #f3f3f3;
	color: #333;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
	color: #484860;
}
h1,h2,h3 {
	text-shadow: #a7a7a7 1px 1px 2px;
}
h1 {
	font-size: 3em;
	margin: 0.5em 0 0;
	color: #6a1005;
	text-shadow: #999 2px 2px 3px;
}
h2 {
	font-size: 2em;
	margin: 1em 0 0;
}
h3 {
	font-size: 1.5em;
	margin: 1em 0 0;
	border-left: 0.75em solid;
	padding-left: 0.25em;
}
h4 {
	font-size: 1.25em;
	margin: 1em 0 0;
}

p, ul {
	line-height: 1.5;
}

li {
	margin: 0.5em 0;
}

acronym, abbr {
	border-bottom: 1px dotted #666;
}

a {
	color: #791707;
	text-decoration: none;
	border-bottom: 1px dotted;
}
a + img {
	border: 0;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	border: 0;
	color: inherit;
}

dl {
	margin: 1em 2em;
}
dl dt {
	font-weight: bold;
	border: 1px solid #ccc;
	background-color: #e7e7e7;
	color: #484860;
	padding: 4px;
}
dd {
	padding: 4px;
	margin: 0 0 0.5em;
}
dd.format {
	color: #791707;
	background: #ddd;
	padding: 2px 10px;
}

dt + dd {
	margin-top: 0.25em;
}
dd + dt {
	margin-top: 1em;
}

code {
	background: #ddd;
}

table {
	margin: 1em;
	background-color: #fff;
	border-collapse: collapse;
}
th {
	color: white;
	background: #484860;
}
tr {}
td, th {
	padding: 4px;
	border: 1px solid #484860;
}

/* @end */


/* @group IDed Elements */
#intro-header {
	margin-top: 1em;
	text-align: center;
}

#intro-header img {
}

#auto-toc {
	margin: 0;
	margin-left: 2em;
	margin-bottom: 2em;
	float: right;
	border: 1px solid #484860;
	background: white;
	-webkit-box-shadow: #ccc 3px 3px 5px;
	padding: 2px 8px;
}
#auto-toc ul:before {
	content: "Table of Contents";
	color: #999;
	font-weight: bold;
}
#auto-toc ul {
	margin: 0;
	padding: 0.5em 1em;
	list-style: none;
}
#auto-toc li {
	line-height: 1em;
	padding: 0;
	margin-left: 0;
}

#header {
	position: relative;
	padding: 0.25em 15em 0.25em 0;
	border-bottom: 1px solid #787890;
	background: #484860 url(../images/shadows/smallest-30-down.png) repeat-x 0 bottom;
}
#header h1 {
	display: inline;
	font-size: 1.75em;
	padding: 0.2em 1em;
	background: #f3f3f3;
	font-weight: bold;
	-webkit-border-top-right-radius: 1em;
	-moz-border-radius-topright: 1em;
}
#header div {
	display: inline;
}
#tagline {
	position: absolute;
	right: 1em;
	top: 0.5em;
	font-size: 0.75em;
	color: #f3f3f3;
}

#header .index {
	display: inline;
}
#header .index h2 {
	display: inline;
	font-size: 1.5em;
	color: white;
	text-shadow: none;
	padding: 2px 0.5em;
}

#header .index ul {
	list-style-type: none;
	padding: 0;
	display: none;
}

#header .index ul.current-index-section {
	position: absolute;
	display: inline;
	left: 0;
	top: 1em;
	margin-left: 11em;
	font-weight: bold;
}
#header .index ul li {
	font-size: 0.8em;
	display: inline;
	padding: 0 0.5em;
}
#header .index ul li + li {
	border-left: 1px solid #999;
	padding-left: 0.75em;
}
#header .index a {
	color: inherit;
}

#content {
	position: relative;
	margin: 3em 3em 6em;
}

#content #version {
	margin: 0;
	position: absolute;
	top: 0;
	right: 0.5em;
	font-size: 0.75em;
	color: #999;
}

#footer {
	margin: 2em 0 0;
	background-color: #fff;
	border-top: 1px solid #c0c0d5;
	-webkit-box-shadow: 0 -2px 5px rgba( 25,25,25, 0.4 );
	padding: 0;
	font-size: 0.75em;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

#footer p {
	margin: 0;
}
#footer .copyright {
	position: absolute;
	left: 0;
	top: 0.5em;
}
#footer .svnid {
	margin: 0.5em auto;
	text-align: center;
}
#footer .timestamp {
	position: absolute;
	right: 0;
	top: 0.5em;
}

/* @end */


/* @group Generic Classes */
.todo {
}

p.diagram {
	text-align: center;
	margin-bottom: 0;
	clear: both;
}
p.caption {
	text-align: center;
	margin: 0 auto 1.5em;
	font-size: 0.9em;
	width: 50%;
	font-weight: bold;
}
/* @end Generic Classes */


/* @group Examples */
div.caption {
	font-size: 12px;
	text-align: center;
	padding: 0.25em 0;
	overflow: hidden;
	border: 1px solid black;
	background-color: #ccc;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
}
div.example {
	max-width: 60em;
	margin: 0.5em 1em;
	padding: 0;
	font: 12px "Bitstream Vera Sans Mono", mono;
	overflow: hidden;
}
div.example pre {
	line-height: 1.2em;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
div.example pre:hover {
	overflow: auto;
}

pre.deveiate .line-numbers {
	background-color: #474860;
	color: #f3f3f3;
	font-size: 0.8em;
	padding: 0.3em 0;
	letter-spacing: -0.1em;
}
pre.console-output {
	
}

/* @end Examples */



/* @group Template node-display classes */
.node-tree {
    border: 1px dotted #333;
    margin: 2px;
    padding: 4px;
    background: #999;
}

.node-subtree {
    border: 1px dotted #666;
    padding: 4px 8px;
    margin: 1px 4px;
    background: #CCC;
}

.node-subtree-head {
    color: #333;
}

.node {
    border: 1px solid black;
    margin-bottom: 4px;
}

.node-head {
    border-bottom: 1px solid black;
    font-weight: bold;
    font-variant: small-caps;
    padding: 2px;
    color: black;
    background: #f3f3f3;
}

.node-body {
    background: #e3e3e3;
    padding: 2px 4px 4px 4px;
}

.node-subtemplate {
    background: #999;
    border: 1px dotted #333;
    margin: 2px;
    padding: 4px;
}

.text-node-body {
    background: #CCC;
    font-family: "Andale Mono", "ProFont", "Monotype.com", fixed;
}
.call-directive-node-body,
.attr-directive-node-body { background: #CDC; }
.escape-directive-node-body { background: #DCC; }
.yield-directive-node-body { background: #DDC; }
.if-directive-node-body,
.else-directive-node-body,
.elsif-directive-node-body { background: #BCD; }
/* @end */

/* @group Template syntax-highlighted html classes */
.highlighted-source {
    border: 1px dotted #333;
    margin: 2px;
    padding: 10px;
    background: #ccc;
}

.token {
    font-family: "Vera Sans Mono", "Andale Mono", fixed;
    color: #333;
}

.text-token { color: #666; }
.comment-token { color: #666; background: #cdc; }
.doc-type-token { color: #226; background: #ccd; }

.tag-token { color: #242; background: #b9b9b9; }
.tag-token-name { color: #272; }
.tag-token-attr-name { color: #262; }
.tag-token-attr-value { color: #333; }

.processing-instruction-token,
.tag-attr-directive {
    color: #933;
    background: #dcc;
    font-weight: bold;
}
/* @end */

/* @group Syntax Highlighter */

/**
 * SyntaxHighlighter
 * http://alexgorbatchev.com/
 *
 * SyntaxHighlighter is donationware. If you are using it, please donate.
 * http://alexgorbatchev.com/wiki/SyntaxHighlighter:Donate
 *
 * @version
 * 2.0.320 (May 03 2009)
 * 
 * @copyright
 * Copyright (C) 2004-2009 Alex Gorbatchev.
 *
 * @license
 * This file is part of SyntaxHighlighter.
 * 
 * SyntaxHighlighter is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * SyntaxHighlighter is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with SyntaxHighlighter.  If not, see <http://www.gnu.org/copyleft/lesser.html>.
 */
.syntaxhighlighter,
.syntaxhighlighter div,
.syntaxhighlighter code,
.syntaxhighlighter span
{}

.syntaxhighlighter
{
	position: relative;
}

.syntaxhighlighter code {
	display: inline;
	background-color: inherit;
}

.syntaxhighlighter .bold {
	font-weight: bold;
}

.syntaxhighlighter .italic {
	font-style: italic;
}

.syntaxhighlighter .line .number
{
	float: left; 
	width: 3em; 
	padding-right: .3em;
	text-align: right;
	display: block;
}

/* Disable numbers when no gutter option is set */
.syntaxhighlighter.nogutter .line .number
{
	display: none;
}

.syntaxhighlighter .line .content
{
	margin-left: 3.3em; 
	padding-left: .5em;
	display: block;
}

.syntaxhighlighter .line .content .block
{
	display: block;
	padding-left: 1.5em;
	text-indent: -1.5em;
}

.syntaxhighlighter .line .content .spaces
{
	display: none;
}

/* Disable border and margin on the lines when no gutter option is set */
.syntaxhighlighter.nogutter .line .content
{
	margin-left: 0; 
	border-left: none;
}

.syntaxhighlighter .bar
{
	display: none;
}

.syntaxhighlighter .bar.show 
{
	display: block;
}

.syntaxhighlighter.collapsed .bar
{
	display: block;
}

.syntaxhighlighter.nogutter .ruler
{
	margin-left: 0;
	padding-left: 0;
}

.syntaxhighlighter .ruler
{
	padding: 0 0 .5em .5em;
	margin-left: 3.3em;
	overflow: hidden;
}

/* Adjust some properties when collapsed */

.syntaxhighlighter.collapsed .lines,
.syntaxhighlighter.collapsed .ruler
{
	display: none;
}

.syntaxhighlighter .lines.no-wrap
{
	overflow: auto;
	overflow-y: hidden;
}

/* Styles for the toolbar */

.syntaxhighlighter .toolbar
{
	position: absolute;
	right: 0px;
	top: 0px;
	font-size: 1px;
	padding: 8px 8px 8px 0; /* in px because images don't scale with ems */
}

.syntaxhighlighter.collapsed .toolbar
{
	font-size: 80%;
	padding: .2em 0 .5em .5em;
	position: static;
}

.syntaxhighlighter .toolbar a.item,
.syntaxhighlighter .toolbar .item
{
	display: block;
	float: left;
	margin-left: 8px;
	background-repeat: no-repeat;
	overflow: hidden;
	text-indent: -5000px;
}

.syntaxhighlighter.collapsed .toolbar .item
{
	display: none;
}

.syntaxhighlighter.collapsed .toolbar .item.expandSource
{
	background-image: url(../images/magnifier.png);
	display: inline;
	text-indent: 0;
	width: auto;
	float: none;
	height: 16px;
	padding-left: 20px;
}

.syntaxhighlighter .toolbar .item.viewSource
{
	background-image: url(../images/magnifier_left.png);
}

.syntaxhighlighter .toolbar .item.printSource
{
	background-image: url(../images/printer.png);
}

.syntaxhighlighter .toolbar .item.copyToClipboard
{
	text-indent: 0;
	background: none;
	overflow: visible;
}

.syntaxhighlighter .toolbar .item.about {
	display: none;
	background-image: url(../images/question.png);
}

/** 
 * Print view.
 * Colors are based on the default theme without background.
 */

.syntaxhighlighter.printing,
.syntaxhighlighter.printing .line.alt1 .content,
.syntaxhighlighter.printing .line.alt2 .content,
.syntaxhighlighter.printing .line.highlighted .number,
.syntaxhighlighter.printing .line.highlighted.alt1 .content,
.syntaxhighlighter.printing .line.highlighted.alt2 .content,
.syntaxhighlighter.printing .line .content .block
{
	background: none;
}

.syntaxhighlighter .no-wrap .line .content .block
{
	white-space: nowrap;
}

/* Gutter line numbers */
.syntaxhighlighter.printing .line .number
{
	color: #bbb;
}

/* Add border to the lines */
.syntaxhighlighter.printing .line .content
{
	color: #000;
}

/* Toolbar when visible */
.syntaxhighlighter.printing .toolbar,
.syntaxhighlighter.printing .ruler
{
	display: none;
}

.syntaxhighlighter.printing a
{
	text-decoration: none;
}

.syntaxhighlighter.printing .plain,
.syntaxhighlighter.printing .plain a
{ 
	color: #000;
}

.syntaxhighlighter.printing .comments,
.syntaxhighlighter.printing .comments a
{ 
	color: #008200;
}

.syntaxhighlighter.printing .string,
.syntaxhighlighter.printing .string a
{
	color: blue; 
}

.syntaxhighlighter.printing .keyword
{ 
	color: #069; 
	font-weight: bold; 
}

.syntaxhighlighter.printing .preprocessor 
{ 
	color: gray; 
}

.syntaxhighlighter.printing .variable 
{ 
	color: #a70; 
}

.syntaxhighlighter.printing .value
{ 
	color: #090; 
}

.syntaxhighlighter.printing .functions
{ 
	color: #ff1493; 
}

.syntaxhighlighter.printing .constants
{ 
	color: #0066CC; 
}

.syntaxhighlighter.printing .script
{
	font-weight: bold;
}

.syntaxhighlighter.printing .color1,
.syntaxhighlighter.printing .color1 a
{ 
	color: #808080; 
}

.syntaxhighlighter.printing .color2,
.syntaxhighlighter.printing .color2 a
{ 
	color: #ff1493; 
}

.syntaxhighlighter.printing .color3,
.syntaxhighlighter.printing .color3 a
{ 
	color: red; 
}

.syntaxhighlighter
{
	background-color: #000000;
}

/* Gutter line numbers */
.syntaxhighlighter .line .number
{
	color: #999;
}

/* Add border to the lines */
.syntaxhighlighter .line .content
{
	border-left: 3px solid #990000;
	color: #B9BDB6;
}

.syntaxhighlighter.printing .line .content 
{
	border: 0;
}

/* First line */
.syntaxhighlighter .line.alt1 .content
{
}

/* Second line */
.syntaxhighlighter .line.alt2 .content
{
	background-color: #070707;
}

.syntaxhighlighter .line .content .block
{
	background: url(../images/wrap.png) 0 1.3em no-repeat;
}

/* Highlighed line number */
.syntaxhighlighter .line.highlighted .number
{
	background-color: #435A5F;
	color: #fff;
}

/* Highlighed line */
.syntaxhighlighter .line.highlighted.alt1 .content,
.syntaxhighlighter .line.highlighted.alt2 .content
{
	background-color: #435A5F;
}

.syntaxhighlighter .ruler
{
	color: silver;
	background-color: #000000;
	border-left: 3px solid #990000;
}

.syntaxhighlighter.nogutter .ruler
{
	border: 0;
}

.syntaxhighlighter .toolbar
{
	background-color: #666;
	border: #fff solid 1px;
}

.syntaxhighlighter .toolbar a
{
	color: #646763;
	border: none;
}

.syntaxhighlighter .toolbar a:hover
{
	color: #9CCFF4;
}

/************************************
 * Actual syntax highlighter colors.
 ************************************/
.syntaxhighlighter .plain,
.syntaxhighlighter .plain a
{ 
	color: #D3D3D3;
}

.syntaxhighlighter .comments,
.syntaxhighlighter .comments a
{ 
	color: #a11;
}

.syntaxhighlighter .string,
.syntaxhighlighter .string a
{
	color: rgba(227,207,87, 0.9); 
}

.syntaxhighlighter .keyword
{ 
	color: rgb(0,203,205); 
}

.syntaxhighlighter .preprocessor 
{ 
	color: #AEC4DE; 
}

.syntaxhighlighter .variable 
{ 
	color: #FFAA3E; 
}

.syntaxhighlighter .value
{ 
	color: #090; 
}

.syntaxhighlighter .functions
{ 
	color: #81CEF9; 
}

.syntaxhighlighter .constants
{ 
	color: #FF9E7B; 
}

.syntaxhighlighter .script
{ 
	background-color: #990000;
}

.syntaxhighlighter .color1,
.syntaxhighlighter .color1 a
{ 
	color: #EBDB8D; 
}

.syntaxhighlighter .color2,
.syntaxhighlighter .color2 a
{ 
	color: rgb(177,247,158); 
}

.syntaxhighlighter .color3,
.syntaxhighlighter .color3 a
{ 
	color: #AEC4DE; 
}
/* @end */

